* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

.header-wrap {
  background-color: #0b7161;
  padding: 15px 35px;
  text-align: center;
}

.header-wrap .logo img {
  width: 200px;
}
